body {
    font-family: 'Marck Script', cursive;
    color: #000000;
    font-family: Arial, Times New Roman;
    font-size: 16px;
    }

    #clockDisplay{
        position: absolute;
        width: 688px;
        height: 100px;
        left: 16px;
        top: 4257px;
        margin:0px auto;
        background-color: #1E1E1E;
        border: 5px solid #ededee;
        box-shadow: 0 20px 30px rgba(0,0,0,0.2);
        color: #2ed9f7;
        padding-top: 30px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:60px;
        text-align: center;
        letter-spacing: 2px;
    
    }


header {
    position: absolute;
width: 720px;
height: 156px;
left: 0px;
top: 0px;

    background: #87CEEB;
    }




#txt1{
    position: absolute;
    width: 280px;
    height: 32px;
    left: 12px;
    top: 12px;

        font-family: 'Marck Script';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    color: #000000;
}

#txt2{
    position: absolute;
width: 258px;
height: 38px;
left: 164px;
top: 60px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;

}

#txt3{
    position: absolute;
width: 352px;
height: 38px;
left: 360px;
top: 112px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;


}




#i1{
    position: absolute;
width: 424px;
height: 38px;
left: 12px;
top: 170px;



font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 35px;
/* identical to box height */


color: #000000;

}

#f1{
    position: absolute;
width: 438px;
height: 110px;
left: 12px;
top: 218px;

}

#d1{
    position: absolute;
width: 84px;
height: 38px;
left: 58px;
top: 338px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}

#i2{
    position: absolute;
width: 214px;
height: 38px;
left: 468px;
top: 338px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-align: right;

color: #000000;

}

#f2{
    position: absolute;
width: 440px;
height: 98px;
left: 248px;
top: 392px;
}

#f3{
    position: absolute;
width: 440px;
height: 118px;
left: 250px;
top: 506px;
}

#d2{
    position: absolute;
width: 84px;
height: 38px;
left: 582px;
top: 640px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}



#b1{
    position: absolute;
width: 478px;
height: 38px;
left: 120px;
top: 724px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;
}

#f4{
    position: absolute;
width: 144px;
height: 134px;
left: 164px;
top: 774px;
}

#b2{
    position: absolute;
width: 258px;
height: 40px;
left: 318px;
top: 788px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;
}


#i3{
    position: absolute;
width: 340px;
height: 38px;
left: 12px;
top: 924px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;

}

#f5{
    position: absolute;
width: 296px;
height: 150px;
left: 46px;
top: 962.05px;
}

#d3{
    position: absolute;
width: 84px;
height: 38px;
left: 20px;
top: 1140px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}

#l1{
    position: absolute;
width: 720px;
height: 0px;
left: 0px;
top: 916px;

border: 2px solid #000000;
background: #000000;
}



#i4{
    position: absolute;
    width: 416px;
    height: 38px;
    left: 274px;
    top: 1178px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #000000;

}

#f6{
    position: absolute;
width: 372px;
height: 166px;
left: 320px;
top: 1228px;
}

#d4{
    position: absolute;
width: 84px;
height: 38px;
left: 600px;
top: 1408px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000; 
}




#i5{
    position: absolute;
width: 482px;
height: 42px;
left: 20px;
top: 1448.05px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}

#f7{
    position: absolute;
width: 344px;
height: 164px;
left: 30px;
top: 1512px;
}

#d5{
    position: absolute;
width: 84px;
height: 38px;
left: 38px;
top: 1684px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;

}



#i6{
    position: absolute;
width: 352px;
height: 42px;
left: 360px;
top: 1744px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}

#f8{
    position: absolute;
width: 180px;
height: 258px;
left: 446px;
top: 1800px;
}

#l2{
    position: absolute;
    width: 720.01px;
    height: 0px;
    left: 0px;
    top: 2092px;
    
    border: 2px solid #000000;
background: #000000;
}



#f9{
    position: absolute;
width: 632.24px;
height: 620px;
left: 44px;
top: 2164px;
}



#s{
    position: absolute;
width: 452px;
height: 1266px;
left: 136px;
top: 2912px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}


#ilu{
    position: absolute;
width: 114px;
height: 44px;
left: 306px;
top: 4412px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;
}


#glav{
    position: relative;
width: 720px;
height: 4478px;

background: #C0DCC0;
}



#me{
    position: absolute;
width: 289px;
height: 37px;
left: 215px;
top: 4190px;

font-family: 'Marck Script';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 37px;

color: #000000;

}


#l5{
    position: absolute;
width: 720px;
height: 0px;
left: 0px;
top: 4183px;

border: 1px solid #000000;
}

